/* split screen style adapted from https://www.w3schools.com/howto/howto_css_split_screen.asp */

/* Split the screen in half */
.split {
    height: 100%;
    width:  50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: #3552F2;
    color: #F2F2F2;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: #F2F2F2;
    color:#262626;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .rightalign {
    position: absolute;
    top: 80%;
    left: 10%;
    text-align: left; 
  }

  .leftalign {
      position: absolute;
      top: 15%;
      left: 10%;
      text-align: left; 
  }
  
  /* Style the image inside the centered container, if needed */
  .centered img {
    width: 150px;
    border-radius: 50%;
  }

  form {
      margin: 0
      auto;
  }